/* PC */
@media screen and (min-width: 992px) {
  /* .header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  } */

  /* .header__email {
    justify-self: start;
  } */

  /* .header__icon {
    justify-self: center;
  } */

  /* .navbar {
    justify-self: end;
  } */

  .show-on-mobile {
    display: none;
  }

  .navbar__menu {
    display: none;
  }

  .header__menu-drawer {
    display: none;
  }

  .special__dots {
    display: none;
  }

  input[type="radio"] {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .header__inner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  .header__icon {
    order: 1;
    flex: 0 0 auto;
  }

  .header__email {
    display: flex;
    align-items: center;
    /* gap: 0px; */
    order: 2;
    margin-left: auto;
  }

  .navbar {
    order: 3;
    margin-left: 10px;
  }

  .navbar__list,
  .header__email-link {
    display: none;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 2px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    background-color: var(--second-color);
  }

  .header__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .header__menu-drawer {
    position: fixed;
    inset: 0 0 0 40%;
    background-color: var(--background-color);
    z-index: 5;
    transform: translateX(100%);
    transition: 0.4s ease;
    padding: 60px;
  }

  .header__menu-checkbox:checked ~ .header__overlay {
    opacity: 1;
    visibility: visible;
  }

  .header__menu-checkbox:checked ~ .header__menu-drawer {
    transform: translateX(0);
  }

  .header__menu-icon ul {
    margin-top: 30px;
  }

  .header__menu-icon ul a {
    display: block;
    padding: 18px 0;
    font-weight: 500;
  }

  .hero__decor-second {
    display: none;
  }

  /* .hero__social {
    justify-content: center;
    margin-top: 80;
  } */

  .clients {
    margin-top: 200px;
  }

  .client__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .client__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
    margin-left: auto;
    margin-top: 40px;
  }

  .client__item {
    justify-content: center;
  }

  .project__card {
    grid-template-columns: repeat(1, 1fr);
  }

  .project__heading {
    font-size: 4.6rem;
  }

  .atmosphere__media {
    flex-direction: column;
    row-gap: 50px;
  }

  .booking__content {
    width: 100%;
  }

  .booking__img-right,
  .booking__img-left {
    display: none;
  }

  .booking__img-center {
    width: 100%;
  }

  .special__content {
    margin-bottom: 20px;
  }

  .special__item-title {
    font-size: 3rem;
  }

  .special__item-desc {
    font-size: 1.5rem;
  }

  .footer__copyright,
  .footer__link {
    font-size: 1.5rem;
  }
}

/* Table */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__inner {
    display: flex;
    justify-content: center;
  }
  .header__email-link {
    display: block;
  }
  .header__icon {
    order: 2;
    margin: 0 auto;
  }

  .header__email {
    display: flex;
    align-items: center;
    /* gap: 0px; */
    order: 1;
    /* margin-right: auto; */
    margin: 0;
  }

  .navbar {
    order: 3;
    margin-left: auto;
  }

  .hero__inner {
    gap: 20px;
  }
  .hero__image-wrap {
    width: 50%;
  }

  .hero__content {
    width: 50%;
  }

  .hero__heading {
    font-size: 6rem;
    line-height: 0.95;
    letter-spacing: -3.2px;
    margin-bottom: 15px;
  }

  .hero__desc {
    margin-bottom: 25px;
  }

  .hero__social {
    margin-top: 80px;
  }

  .show-on-mobile {
    display: none;
  }

  .project__desc {
    width: 350px;
  }

  .special__dots {
    display: none;
  }

  input[type="radio"] {
    display: none;
  }
}

/* Large Tablet (iPad Pro, Surface, etc.) */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .hero__inner {
    gap: 50px;
  }

  .hero__decor-second {
    display: none;
  }

  .client__list {
    margin-left: 40px;
  }

  .project__card {
    grid-template-columns: repeat(1, 1fr);
  }

  .atmosphere__media {
    flex-direction: column;
    row-gap: 60px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .header__menu-drawer {
    padding: 40px;
  }

  .header {
    /* border-width: 377px; */
    border-bottom: 1px solid #d6d3e2;
  }

  .hero__inner {
    flex-direction: column-reverse;
  }

  .hero__content {
    width: 100%;
  }

  .hero__heading {
    font-size: 4.2rem;
    /* max-width: 260px; */
  }

  .hero__desc {
    font-size: 1.6rem;
    /* max-width: 318px; */
  }
  .hero__social {
    margin-top: 25px;
  }

  .hero__image-wrap {
    width: 100%;
    /* max-width: 259px; */
    text-align: center;
  }

  .hero__image-wrap {
    text-align: center;
    /* height: 100%; */
    overflow: hidden;
  }

  .hero__portrait {
    display: inline-block;
    width: 100%;
    max-width: 259px;
    height: auto;
    margin: 0 auto;
  }

  .hero__decor-first,
  .hero__decor-second {
    display: none;
  }

  .hero__decor-center {
    max-width: 543px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .client__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .client__item {
    gap: 12px;
  }

  .client__group:nth-child(n + 3) {
    margin-top: 36px;
  }

  /* Special */

  .special__desc {
    width: 350px;
  }

  .special {
    width: 100%;
    overflow: hidden;
  }

  .special__list {
    transition: transform 0.5s ease;
    gap: 20px;
  }

  .special__item {
    flex: 0 0 100%;
    /* min-width: 100%; */
    /* transform: translate(-0%);
    transition: transform 0.3s ease; */
  }

  input[type="radio"] {
    display: none;
  }

  /* transform dựa trên radio checked */
  #dot1:checked ~ .special__list {
    transform: translateX(0%);
  }
  #dot2:checked ~ .special__list {
    transform: translateX(-105%);
  }
  #dot3:checked ~ .special__list {
    transform: translateX(-210%);
  }

  /* Dots */
  .special__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .special__dots label {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    margin: 0 4px;
    position: relative;
  }

  .special__dots input[type="radio"]:checked + 

/* Khi radio checked thì label kế nó được active */
#dot1:checked ~ .special__dots label[for="dot1"],
#dot2:checked ~ .special__dots label[for="dot2"],
#dot3:checked ~ .special__dots label[for="dot3"] {
    background: var(--second-color);
  }

  #dot1:checked ~ .special__dots label[for="dot1"]::before,
  #dot2:checked ~ .special__dots label[for="dot2"]::before,
  #dot3:checked ~ .special__dots label[for="dot3"]::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
    border-radius: 50%;
  }

  /* Projects */

  .project__content {
    flex-direction: column;
    text-align: center;
  }

  .project__heading {
    font-size: 3.6rem;
  }

  .project__desc {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .project__card {
    /* width: 350px; */
    margin-bottom: 50px;
  }

  /* .project__card-item {
    width: 100%;
  } */
  .project__card-wrapper {
    padding: 20px 15px;
    gap: 22px;
  }

  .project__card-content {
    max-width: 176px;
    /* width: 100%; */
    /* margin-right: 22px; */
  }

  .project__card-title {
    font-size: 2.4rem;
  }

  .project__card-desc {
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .project__card-link {
    font-size: 1.6rem;
  }

  .project__card-img img {
    width: 112px;
  }

  /* About Me */
  .about-me {
    margin-top: 120px;
  }

  .about-me__title {
    font-size: 2rem;
  }

  .about-me__icon {
    width: 24px;
    height: 24px;
  }

  .about-me__heading {
    font-size: 3.6rem;
    margin-bottom: 20px;
  }

  .about-me__desc {
    font-size: 1.6rem;
    margin-bottom: 50px;
  }

  .about-me__statistic {
    flex-direction: row;
    gap: 50px;
  }

  .about-me__statistic-detail {
    font-size: 1.6rem;
  }

  .about-me__statistic-detail strong {
    font-size: 3rem;
  }
  /* Đảo thứ tự theo thiết kế */
  .about-me__statistic-detail:nth-child(1) {
    order: 2;
  }
  .about-me__statistic-detail:nth-child(2) {
    order: 1;
  }
  .about-me__statistic-detail:nth-child(3) {
    order: 3;
  }

  .about-me__thumb {
    max-width: 350px;
    height: 276px;
  }

  .about-me__play {
    width: 77px;
    height: 77px;
  }

  .about-me__intro.btn {
    width: 118px;
    height: 44px;
  }

  .about-me__intro-btn {
    font-size: 1.2rem;
  }

  /* Feedback */
  .feedback__heading {
    font-size: 3.6rem;
  }

  .feedback__desc {
    font-size: 1.6rem;
  }

  .feedback__review {
    margin-top: 40px;
    font-size: 1.8rem;
  }

  .feedback__decor-right,
  .feedback__decor-left {
    max-width: 98px;
  }

  .feedback__content,
  .feedback__detail {
    width: 100%;
  }
}
