/* PC */
@media screen and (min-width: 992px) {
  /* .header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  } */

  /* .header__email {
    justify-self: start;
  } */

  /* .header__icon {
    justify-self: center;
  } */

  /* .navbar {
    justify-self: end;
  } */

  .navbar__menu {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .header__inner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  .header__icon {
    order: 1;
    flex: 0 0 auto;
  }

  .header__email {
    display: flex;
    align-items: center;
    /* gap: 0px; */
    order: 2;
    margin-left: auto;
  }

  .navbar {
    order: 3;
    margin-left: 10px;
  }

  .navbar__list,
  .header__email-link {
    display: none;
  }

  .navbar__menu {
    display: block;
  }

  .navbar__menu {
    display: flex;
    /* order: 3; */
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 2px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    background-color: var(--second-color);
  }
}

/* Table */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
}
