* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  height: 5000px;
}

/* Common */

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Header */

.header.fixed {
  position: sticky;
  top: -12px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 50px;
  /* background-color: #5d3bee; */
}

.header__logo {
  margin: 0 auto;
}

.header__email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__email-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid #5d3bee;
  border-radius: 50%;
}
.header__email img {
  width: 24px;
  height: 16px;
}

.header__email-text {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  text-decoration-line: underline;
}

.navbar {
  display: flex;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 43px;
}

.navbar__link {
  color: #51586a;
  font-size: 1.8rem;
  padding: 8px 21px;
  line-height: normal;
}
