* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --second-color: #fff;
  --heading-color: #080415;
  --background-color: #fbfaff;
  --desc-color: #51586a;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* -webkit-tap-highlight-color: transparent; */
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

/* =============================Common============================= */

button {
  pointer-events: none;
}

.main__container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 62px;
  background: var(--primary-color);
  cursor: pointer;
  /* pointer-events: auto; */
  transition: all 0.2s ease;
}

.btn:hover {
  opacity: 0.75;
}

.heading {
  color: var(--heading-color);
  font-weight: 500;
}

/* =============================HEADER============================= */

.header.fixed {
  position: sticky;
  top: -10px;
  background-color: var(--background-color);
  z-index: 5;
}

/* .header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
} */

.header__inner,
.footer__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__email,
.footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  gap: 10px;
}

.header-container__email,
.footer-container__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(93, 59, 238, 0.2);
  border-radius: 50%;
  background-color: var(--second-color);
}

.header-img__email,
.footer-img__email {
  width: 24px;
  height: 16px;
}

.header__email-link,
.footer__email-link {
  color: var(--heading-color);
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration-line: underline;
}

.header__email-link:hover,
.footer__email-link:hover {
  color: var(--primary-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-self: end;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 43px;
}

.navbar__link {
  color: var(--desc-color);
  font-size: 1.8rem;
  padding: 10px 0px;
}

.navbar__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

/* =============================HERO============================= */
.hero {
  padding: 24px 0 0;
  background: var(--background-color);
}
.hero__row {
  display: flex;
  align-items: center;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__image-wrap {
  position: relative;
  width: 514px;
  height: 100%;
  /* background-color: var(--primary-color); */
}

.hero__portrait {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}

.hero__decor-first {
  position: absolute;
  /* top: -80px; */
  bottom: 0;

  left: -200px;
  z-index: 1;
}

.hero__decor-second {
  position: absolute;
  bottom: 0;
  left: 950px;
}

.hero__content {
  width: 500px;
  height: 386px;
}

.hero__heading {
  font-size: 8rem;
  line-height: 0.95; /* 95% */
  letter-spacing: -3.2px;
  margin-bottom: 20px;
}

.hero__desc {
  color: var(--desc-color);
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
  margin-bottom: 50px;
}

.hero__cta-btn {
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0.66; /* 166.667% */
  /* padding: 16px 37px; */
  margin-right: 30px;
  /* cursor: pointer; */
  position: relative;
  z-index: 1;
}

.hero__cta-link {
  color: var(--heading-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.66; /* 166.667% */
  text-decoration: underline;
}

.hero__social {
  margin-top: 110px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__social-title {
  color: var(--desc-color);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.87;
}

.hero__social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

.hero__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.1);
  transition: background-color 0.3s ease;
}

.hero__social-icon:hover {
  background-color: #d9e1e8;
}
/* =============================CLIENT============================= */

.clients {
  margin-top: 98px;
}

.client__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client__line {
  width: 86px;
  height: 0;
  border: 1px solid var(--primary-color);
  margin: -60px 15px 0 0;
}

.client__title {
  max-width: 255px;
  display: flex;
  gap: 13px;
  color: var(--heading-color);
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.19; /* 119.048% */
  letter-spacing: -1.68px;
}

/* .client__title::before {
  content: "";
  width: 86px;
  height: 2px;
  margin-top: 22px;
  background-color: var(--primary-color);
} */

.client__group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: flex-start; /* căn trái trong cột — giống mockup */
}

.client__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px 48px;

  align-items: center;
  margin-left: 105px;
}

.client__item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.client__item:first-child {
  margin-bottom: 34px;
}

.client-item__logo {
  /* width: 26px;
  height: 26px; */
  /* border-radius: 50%; */
  /* object-fit: contain; */
}

.client-item__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /* background-color: transparent; */
  flex-shrink: 0;
}

.client--upwork {
  background-color: rgba(20, 168, 0, 1);
}

.client--wb {
  background-color: rgba(251, 250, 255, 1);
}

.client--cloud {
  background-color: rgba(255, 255, 255, 1);
}

.client--mail {
  background-color: rgba(254, 225, 1, 1);
}

.client--woo {
  background-color: rgba(127, 84, 179, 1);
}

.client--adobe {
  background-color: rgba(255, 0, 0, 1);
}

/* =============================SPECIAL============================= */

.special {
  margin-top: 133px;
}

.special__content {
  text-align: center;
  margin-bottom: 60px;
}

.special__heading {
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
  margin-bottom: 20px;
}

.special__desc {
  width: 534px;
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin: 0 auto;
}

.special__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.special__item {
  width: 370px;
  height: 306px;
  padding: 33px 43px;
  background-color: var(--second-color);
  transition: background-color 0.3s ease;
}

.special__item:hover {
  background-color: #d9e1e8;
}

.special__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05); /* viền đen mờ */
  margin-bottom: 22px;
}

.special__item-title {
  color: var(--heading-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  margin-bottom: 15px;
}

.special__item-desc {
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

/* =============================PROJECTS============================= */

.projects {
  margin-top: 140px;
  background: #4fb0c6;
  padding: 86px 0;
}

.project__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  max-width: 998px;
  flex-shrink: 0;
  /* height: 132px; */
}

.project__heading {
  max-width: 468px;
  color: var(--second-color);
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
}

.project__desc {
  max-width: 370px;
  color: var(--second-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  opacity: 0.7;
}

.project__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 80px;
}

.project__card-item {
  position: relative;
  background-color: var(--second-color);
  /* margin-top: 30px; */
}

.project__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
  padding: 44px 34px;
}

.project__card-content {
  width: 220px;
}

.project__card-title {
  color: var(--heading-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  margin-bottom: 10px;
}

.project__card-desc {
  color: var(--desc-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44; /* 143.75% */
  margin-bottom: 20px;
}

.project__card-link {
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67; /* 166.667% */
  text-decoration-line: underline;
}

.project__card-img img {
  position: relative;
  max-width: 246px;
  z-index: 1;
}

.project__card-decor {
  position: absolute;
  height: 100%;
  inset: 0 0 auto auto;
  z-index: 0;
}

.project__cta {
  background: var(--second-color);
  margin: 0 auto;
}

.project__cta-btn {
  display: inline-block;
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67; /* 166.667% */
}

.project__cta.btn:hover {
  background-color: var(--primary-color);
}

.project__cta.btn:hover .project__cta-btn {
  color: var(--second-color);
}
/* =============================ABOUT ME============================= */

.about-me {
  margin-top: 140px;
}

.about-me__content {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
}

.about-me__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  margin-bottom: 10px;
}

.about-me__heading {
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
  margin-bottom: 15px;
}

.about-me__desc {
  color: var(--desc-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-bottom: 70px;
}

.about-me__statistic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 70px;
  max-width: 946px;
  height: 146px;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(8, 4, 21, 0.2);
}

.about-me__statistic-detail {
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.about-me__statistic-detail strong {
  color: var(--heading-color);
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35; /* 135.714% */
  letter-spacing: 1.68px;
  text-decoration: underline;
}

.about-me__media {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.about-me__thumb {
  max-width: 100%;
  /* height: 628px; */
}

.about-me__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 111px;
  height: 111px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  cursor: pointer;
}

.about-me__play:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-me__intro {
  background-color: var(--second-color);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.about-me__intro-btn {
  display: inline-block;
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67; /* 166.667% */
  text-transform: uppercase;
  /* padding: 16px 28px; */
}

.about-me__intro:hover {
  background-color: var(--primary-color);
  opacity: 1;
}

.about-me__intro.btn:hover .about-me__intro-btn {
  color: var(--second-color);
}

/* =============================Feedback============================= */
.feedback {
  margin-top: 150px;
  text-align: center;
  position: relative;
  padding-bottom: 75px;
}

.feedback__content {
  width: 570px;
  margin: 0 auto;
}

.feedback__heading {
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
}

.feedback__desc {
  margin-top: 20px;
  color: var(--desc-color);
  /* text-align: center; */
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.feedback__detail {
  width: 679px;
  margin: 0 auto;
}

.feedback__review {
  margin-top: 60px;
  color: var(--desc-color);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.feedback__people {
  margin-top: 36px;
}

.feedback__people-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.feedback__people-avt-wapper {
  width: 40px;
  height: 40px;
  background: #f29764;
  border-radius: 50%;
  padding-top: 6px;
  overflow: hiddens;
}

.feedback__people-avt {
  width: 100%;
  border-radius: 50%;
}

.feedback__people-name {
  color: var(--heading-color);
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.33; /* 133.333% */
}

.feedback__people-job {
  margin-top: 3px;
  color: var(--desc-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.81; /* 181.25% */
}

.feedback__people-dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.feedback__people-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.2;
  background: var(--heading-color);
  cursor: pointer;
}

.feedback__people-dot--active {
  /* display: inline-block; */
  position: relative;
  width: 20px;
  height: 20px;
  background: var(--second-color); /* khoảng trắng giữa */
  border: 1px solid var(--primary-color); /* viền ngoài */
  border-radius: 50%;
}

.feedback__people-dot--active::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  border-radius: 50%;
}

.feedback__decor-left,
.feedback__decor-right {
  position: absolute;
  bottom: 0;
}

.feedback__decor-left {
  left: 0;
}

.feedback__decor-right {
  right: 0;
}

/* =============================FAQ============================= */
.faq {
  margin-top: 95px;
}

.faq__heading {
  max-width: 575px;
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
}

.faq__group {
  margin-top: 80px;
}

.faq__item {
  border-bottom: 2px solid #08182f;
}

/* change color border faq item */

.faq__item:has(input:checked) {
  border-color: var(--primary-color);
}

.faq__item:has(input:checked) .faq__question-text {
  color: var(--primary-color);
}

.faq__item input[type="checkbox"] {
  display: none;
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq__question-text {
  display: inline-block;
  max-width: 535px;
  color: var(--heading-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  margin: 60px 0 33px; /* khoảng cách khi đóng */
  transition: margin 0.28s ease; /* mượt khi thay đổi */
}

.faq__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50px;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(22, 26, 28, 0.2);
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
}

.faq__icon-plus,
.faq__icon-minus {
  display: inline-block;
}

.faq__icon-minus {
  display: none;
}

/* answer */
.faq__answer {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: max-height 0.32s ease, margin 0.32s ease;
}

.faq__answer-text {
  max-width: 487px;
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  /* margin: 23px 0 21px; */
}

/* open button plus */
.faq__item input:checked ~ .faq__question .faq__button {
  border-color: rgba(93, 59, 238, 0.2);
}

.faq__item input:checked ~ .faq__question .faq__icon-plus {
  display: none;
}

.faq__item input:checked ~ .faq__question .faq__icon-minus {
  display: block;
}

.faq__item input:checked ~ .faq__answer {
  max-height: 500px;
  margin: 23px 0 21px;
}

.faq__item input:checked ~ .faq__answer {
  max-height: 200px; /* đủ lớn cho nội dung thường; tăng nếu cần */
  margin: 23px 0 21px; /* khoảng cách giữa question và answer khi mở */
}

/* =============================ATMOSPHERE============================= */
.atmosphere {
  margin-top: 160px;
}

.atmosphere__content {
  max-width: 528px;
  margin: 0 auto;
}

.atmosphere__heading {
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
  text-align: center;
  margin-bottom: 20px;
}

.atmosphere__desc {
  color: var(--desc-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-bottom: 30px;
}

.atmosphere__email {
  text-align: center;
  margin-bottom: 70px;
}

.atmosphere__email-link {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.atmosphere__email-link:hover {
  color: var(--heading-color);
}

.atmosphere__media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atmosphere__img {
  width: 370px;
  height: 529px;
  object-fit: cover;
  flex-shrink: 0;
}

/* =============================BOOKING============================= */

.booking {
  margin-top: 140px;
  padding: 68px 0 68px;
  position: relative;
  background: var(--background-color);
}

.booking__content {
  width: 574px;
  height: 352px;
  margin: 0 auto;
  text-align: center;
}

.booking__icon {
  /* margin: 0 auto; */
  margin-bottom: 10px;
}

.booking__heading {
  font-size: 5.6rem;
  line-height: 1.18; /* 117.857% */
  letter-spacing: -2.24px;
  margin-bottom: 20px;
}

.booking__desc {
  color: var(--desc-color);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}

.booking__cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1;
}

.booking__cta-btn {
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67; /* 166.667% */
  cursor: pointer;
}

.booking__img-left {
  position: absolute;
  left: 0;
  bottom: 0;
  /* transform: translate(-20%, 20%); */
  z-index: 1;
}

.booking__img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.booking__img-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* =============================FOOTER============================= */
.footer {
  margin-top: 50px;
  padding-bottom: 30px;
}

.footer__bottom {
  padding-top: 18px;
  border-top: 1px solid rgba(12, 7, 32, 0.2);
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.footer__links {
  display: flex;
  gap: 36px;
}

.footer__copyright,
.footer__link {
  color: #525771;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  opacity: 0.6;
}
